/*Primary color*/
$background-light: #cdbaac;
$background-dark: #373943;
$background-mid: #b59a85;

/*Secondary color*/
$text-light: #fafafa;
$text-dark: rgb(26, 15, 25);

/*Buttons*/
$btn-default: #da8a44;
$btn-hover: #5d473a;
$btn-border: #ffffff;
