/*light*/
@font-face {
  font-family: 'inter';
  src: url('../assets/fonts/Inter-Light.ttf');
  font-weight: 300;
}

/*regular*/
@font-face {
  font-family: 'inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

/*medium*/
@font-face {
  font-family: 'inter';
  src: url('../assets/fonts/Inter-Medium.ttf');
  font: weight 500;
}

/*Bold*/
@font-face {
  font-family: 'inter';
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}
